*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Coffee-Sunday;
    src: url(fonts/Coffee-Sunday.otf); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf);
}


@media only screen and (min-width: 0px) {
    .navbar{
        position: absolute;
        width: 100vw;
        height: 80px;
        background-color: #ffffff;
    }

    .sidemenu-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar header{
        text-align: center;
        height: 100%;
        align-content: center;
        font-size:  30px;
        font-family: Coffee-Sunday;
        font-weight: 900;
        color:  #387c5c;
        font-weight: 500;
        letter-spacing: 1px;
    }


    .hero{
        background-image: url(images/hero-image.jpeg);
        height: 85vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 25px;
    }

    .hero-info{
        align-items: center;
        align-content: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero p{
        color: rgb(255, 255, 255);
        text-align: center;
        align-content: center;
        font-size: 50px;
        font-family: Montserrat-Bold;
        font-weight: 400;
        padding: 0px 28px 0px 28px;
        overflow: hidden;
    }
    
    .hero button{
        width: 180px;
        height: 50px;
        background-color: #42ad80;
        border-radius: 10px;
        border: none;
        font-size: 13px;
        color: white;
        font-family: Montserrat-Medium;
        margin-top: 8px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s;
    }

    .hero button:hover{
        background-color: 
        #247251;
    }

    .link-cards-container{
        width: 100vw;
        display: grid;
    }

    .link-cards{
        width: 90vw;
        height: 300px;
        margin-bottom: 25px;
        margin-left: 5vw;
        border-radius: 10px;
        cursor: pointer;
        background-size: 100%;
        background-position: 100% 60%;
        transition: 1.5s ease-in-out;
        transition: background-size 0.5s ease;
    }

    .link-cards:hover{
       background-size: 110%;
    }

    #link-card1{
        background-image: url(images/girlbakery.jpeg);
    }

    #link-card2{
        background-image: url(images/menu.jpeg);
    }
    #link-card3{
        background-image: url(images/giftcards.jpeg);
    }
    #link-card4{
        background-image: url(images/careers.jpeg);
    }
    #link-card5{
        background-image: url(images/nowaste.jpeg);
    }
    #link-card6{
        background-image: url(images/download.jpeg);
    }

    .link-cards a h2{
        color: white;
        text-align: center;
        font-family: Montserrat-Bold;
        font-size: 32px;
        font-weight: 500;
        padding: 0px 20px 0px 20px;
        padding-top: 40px;
        position: relative;
        z-index: 1;
        text-wrap: wrap;
    }

    footer{
            font-family: Montserrat-Medium;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 40px;
            font-size: 12px;
            background-color: #e9fff2;
            margin-top: 50px;
        }
    
        .footer-contact, .footer-navigation{
            margin-top: 50px;
            margin-bottom: 50px;
        }
    
        .footer-contact{
            width: 25vw;
            margin-left: 3vw;
        }
    
        .footer-contact h4, .footer-contact p{
            margin-bottom: 10px;
            line-height: 28px;
        }
    
        .footer-navigation{
            margin-top: 45px;
            width: 25vw;
        }
    
        .footer-navigation h4{

            margin-top: 10px;
            margin-bottom: 19px;
        }
    
        .footer-navigation li {
            margin-bottom: 10px;
            line-height: 24px;
            text-decoration: underline;
        }
    
        li{
            list-style: none;
        }
    }

    @media only screen and (min-width: 780px) {
        .link-cards-container{
                width: 96vw;
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                gap: 20px;
                margin-left: 2vw;
            }

            .hero p{
                font-size: 78px;
            }
            
            .link-cards {
                width: 100%; 
                height: 300px;
                background-color: white;
                margin-bottom: 0px;
                background-color: #42ad80;
                border-radius: 10px;
                cursor: pointer;
                background-size: 100%;
                background-position: 100% 60%;
                margin-left: 0;
            }
            footer{
                justify-content: start;
                font-size: 16px;
            }

            footer .footer-navigation h4{
                margin-top: 5px;
            }
            
}
